{
    "changed": false,
    "msg": {
        "changed": false,
        "connection": "close",
        "content_type": "application/json; charset=utf-8",
        "date": "Thu, 08 Mar 2018 01:42:15 GMT",
        "expires": "Thu, 01 Jan 1970 00:00:00 GMT",
        "json": {
            "accountId": "1a5",
            "actions": {
                "activateservices": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=activateservices",
                "addoutputs": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=addoutputs",
                "deactivateservices": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=deactivateservices",
                "error": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=error",
                "exportconfig": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=exportconfig",
                "remove": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/?action=remove"
            },
            "answers": null,
            "baseType": "stack",
            "binding": null,
            "created": "2018-03-08T01:42:15Z",
            "createdTS": 1520473335000,
            "description": null,
            "dockerCompose": "{  \"version\": \"2\",  \"services\": {      \"ElkCloud\": {          \"mem_limit\": 4294967296,          \"image\": \"docker.elastic.co/elasticsearch/elasticsearch:6.2.2\",          \"environment\": {              \"http.host\": \"0.0.0.0\",              \"transport.host\": \"127.0.0.1\",               \"cluster.name\": \"mynewclustername\"           },          \"stdin_open\": true,          \"tty\": true,          \"ports\": [ \"9200:9200/tcp\"  ],          \"labels\": { \"io.rancher.container.pull_image\": \"always\"  }       }  }}",
            "environment": null,
            "externalId": null,
            "group": null,
            "healthState": "healthy",
            "id": "1st18",
            "kind": "stack",
            "links": {
                "account": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/account",
                "composeConfig": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/composeconfig",
                "hosts": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/hosts",
                "instances": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/instances",
                "scheduledUpgrades": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/scheduledupgrades",
                "secrets": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/secrets",
                "self": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18",
                "services": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/services",
                "volumeTemplates": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/volumetemplates",
                "volumes": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks/1st18/volumes"
            },
            "name": "cloudsearch1",
            "outputs": null,
            "previousEnvironment": null,
            "previousExternalId": null,
            "rancherCompose": "{    \"version\": \"2\",    \"services\": {        \"ElkCloud\": {            \"milli_cpu_reservation\": 1000,            \"scale\": 1,            \"start_on_create\": true         }    }}",
            "removed": null,
            "serviceIds": null,
            "startOnCreate": true,
            "state": "activating",
            "system": false,
            "templates": null,
            "transitioning": "yes",
            "transitioningMessage": "In Progress",
            "transitioningProgress": null,
            "type": "stack",
            "uuid": "321986bc-5cb5-4947-b714-4f707b945d24"
        },
        "msg": "OK (unknown bytes)",
        "redirected": false,
        "server": "Jetty(9.2.11.v20150529)",
        "set_cookie": "PL=rancher;Path=/",
        "status": 201,
        "transfer_encoding": "chunked",
        "url": "http://169.56.124.19:8080/v2-beta/projects/1a5/stacks",
        "x_api_account_id": "1a5",
        "x_api_client_ip": "172.17.0.1",
        "x_api_schemas": "http://169.56.124.19:8080/v2-beta/projects/1a5/schemas",
        "x_api_user_id": "1a1",
        "x_rancher_version": "v1.6.14"
    }
}
