{
  "insecure-registries" : ["{{ docker_registry_host_name }}:5000"],
  "storage-driver": "devicemapper",
  "storage-opts": [
    "dm.use_deferred_removal=true",
    "dm.use_deferred_deletion=true"
  ]
}
