version: '2'
services:
  core-dump:
    image: {{ docker_registry_url }}/mariadb:10.3
    container_name: core-dump
    environment:
      MYSQL_ROOT_PASSWORD: secret
      MYSQL_DATABASE: test
      TZ: Asia/Seoul
    stdin_open: true
    volumes:
    - {{ remote_temp_directory }}/{{ mariadb_data_folder }}/{{ mariadb_dump_others_folder }}/script:/docker-entrypoint-initdb.d/
    - {{ remote_temp_directory }}/{{ mariadb_data_folder }}/{{ mariadb_dump_others_folder }}/:/home/
    external_links:
    - meta-db/core-mariadb:core-mariadb
    command:
    - --character-set-server=utf8
    - --collation-server=utf8_general_ci
    tty: true
    labels:
      io.rancher.scheduler.affinity:host_label: {{ mairadb_rancher_label }}
      io.rancher.container.pull_image: always
